@model ShoeShopping.Models.ViewModels.ProductsViewModel
@using ShoeShopping.Extensions
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Create Product</h2>
<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded">

        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Products.Name" class="form-control" />
            </div>
            <span asp-validation-for="Products.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Price"></label>
            </div>
            <div class="col-5">
                <input asp-for="Products.Price" class="form-control" value="0" />
            </div>
            <span asp-validation-for="Products.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Image"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Material"></label>
            </div>
            <div class="col-5">
                <input asp-for="Products.Material" class="form-control" />
            </div>
            <span asp-validation-for="Products.Material" class="table-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Origin"></label>
            </div>
            <div class="col-5">
                <input asp-for="Products.Origin" class="form-control" />
            </div>
            <span asp-validation-for="Products.Origin" class="table-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Gender"></label>
            </div>
            <div class="col-5">
                <input asp-for="Products.Gender" class="form-control" />
            </div>
            <span asp-validation-for="Products.Gender" class="table-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.CategoryProducts"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Products.CategoryProductId" asp-items="Model.CategoryProducts.ToSelectListItem(Model.Products.CategoryProductId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.ProductTags"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Products.ProductTagId" asp-items="Model.ProductTags.ToSelectListItem(Model.Products.ProductTagId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Discount"></label>
            </div>
            <div class="col-5">
                <input asp-for="Products.Discount" class="form-control" value="0" />
            </div>
            <span asp-validation-for="Products.Discount" class="table-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Available"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="Products.Available" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}